<h1>Register</h1>
<br>
<%= form_for @user, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <br><br>
  <% end %>
  <div class="form-group">
      <%= f.label :login, :class => "col-md-4 control-lab"%>
    <div class="col-md-4">
      <%= f.text_field :login, :class => "form-control input-md" %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :username, :class => "col-md-4 control-lab"%>
    <div class="col-md-4">
      <%= f.text_field :username, :class => "form-control input-md" %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :password, :class => "col-md-4 control-lab" %>
    <div class="col-md-4">
      <%= f.password_field :password, :class => "form-control input-md" %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :password_confirmation, :class => "col-md-4 control-lab" %>
    <div class="col-md-4">
      <%= f.password_field :password_confirmation, :class => "form-control input-md" %>
    </div>
  </div>
  <center>
  <div class="form-group">
    <br>
    <div class="col-md-4" style="margin-left: 33.5%">
      <%= f.submit "Register", :class => "btn btn-primary" %>
    </div>
  </div>
  </center>
<% end %>